body,html{
	width: 100%;
	height: 100%;
	margin:0;
}
.hidden{
	display: none !important;
}
.boton{
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	cursor:pointer;
}
.texto_boton{
	text-align: center;
	position: absolute;
    top: 17%;
    left: 12px;
    word-wrap: break-word;
    width: 100px;
}
.texto_boton:hover{
	color:white;
}
.seccion{
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}
.splash{
	display: block;
}
.splash_icono{
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -64px;
	left: 50%;
	margin-left: -64px;
}